<% include ../partials/head %>

    <div class="container content_body">
         <div class="jumbotron shadow">
            <h1>New User</h1>      
        </div>
        <form name="form1" method="POST" action="/users/add">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-4">
                    <input type="text" name="name" class="form-control" id="name" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-4">
                    <input type="text" name="username" class="form-control" id="username" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4">
                    <input type="text" name="password" class="form-control" id="password" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="userLevel">User Level</label>
                <div class="col-sm-4">
                    <select class="form-control" name="userLevel" id="userLevel" required="required">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a class="btn btn-danger" href="/dbmaintenance" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>

<% include ../partials/footer %>