<!DOCTYPE html> 
<html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/4eb6263c15.js" crossorigin="anonymous"></script>
	</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/home">BugHound</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	    	<% if(!currentUser) { %>
	  			<li><a class="nav-link active" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
	  		<% } else { %>
	  			<li><a class="nav-link active" href="#"><i class="fas fa-user-circle"></i> <%=currentUser.username%></a></li>
	    		<li><a class="nav-link active" href="/logout"><i class="fas fa-sign-out-alt"></i>   Logout</a><li>
	    	<% } %>
	    </ul>
	  </div>
	</nav>

	 <div class="container">
	    <div class="row">
	      <div id="alert-msg" class="col-lg-12">
	      	<% if(error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert">
			      <%= error %>
			    </div>
			<% } %> 
			<% if(success && success.length > 0) { %>
			    <div class="alert alert-success" role="alert">
			      <%= success %>
			    </div>
			<% } %>
	      </div>
		</div>
	</div>

	<body>
  	