
<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="/">BugHound</a>
	<ul class="nav justify-content-end">
	  	<li class="nav-item">
	  		<% if(!currentUser) { %>
	  			<a class="nav-link active" href="/login">Login</a>
	  		<% } else { %>
	  			<li><%=currentUser.username%></li>
	    		<li><a class="nav-link active" href="/logout">Logout</a><li>
	    	<% } %>
	  	</li>
  	</ul>
</nav>
