<% include ./partials/head %>

  <div class="container">
    <div class="jumbotron shadow">
      <h1>Database Maintenance</h1>      
      <p>Make changes to any of the following</p>
    </div>
      <a class="btn btn-primary" href="areas/" role="button"><i class="fas fa-plus-circle"></i> Add/Edit Areas</a>
      <a class="btn btn-primary" href="programs/new" role="button"><i class="fas fa-code"></i> Add Programs</a>
      <a class="btn btn-primary" href="programs/search" role="button"><i class="fas fa-edit"></i> Edit Programs</a>
      <a class="btn btn-primary" href="users/new" role="button"><i class="fas fa-users"></i> Add Employees</a>
      <a class="btn btn-primary" href="users/search" role="button"><i class="fas fa-user-edit"></i> Edit Employee</a>
      <a class="btn btn-primary" href="export" role="button"><i class="fas fa-file-export"></i> Export Areas</a>
  </div>

<% include ./partials/footer %>