<% include ./partials/head %>

  <div class="container">
    <div class="jumbotron">
      <h1>Database Maintance</h1>      
      <p>Make changes to any of the following</p>
    </div>
      <a class="btn btn-primary" href="areas/" role="button">Add/Edit Areas</a>
      <a class="btn btn-primary" href="programs/new" role="button">Add Programs</a>
      <a class="btn btn-primary" href="programs/search" role="button">Edit Programs</a>
      <a class="btn btn-primary" href="users/new" role="button">Add Employees</a>
      <a class="btn btn-primary" href="users/search" role="button">Edit Employee</a>
      <a class="btn btn-primary" href="export" role="button">Export Areas</a>
  </div>

<% include ./partials/footer %>