<!DOCTYPE html>
<html>
  <head>
    <title>Bughound</title>
    <% include ./partials/head %>
  </head>
  <body>
    <h1>Database Maintance </h1>
    <ul>
      <li><a href="areas/">Add/Edit Areas</a></li>
      <li><a href="programs/new">Add Programs</a></li>
      <li><a href="programs/search">Edit Programs</a></li>
      <li><a href="users/new">Add Employees</a></li>
      <li><a href="users/search">Edit Employee</a></li>
    </ul>
   </body>
</html>
