<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ./partials/head %>
  </head>
  <% include ./partials/navbar %>
  <body>
    <% include ./partials/messages %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="bugs/new">Enter New Bug</a>
    <a href="bugs/edit">Update Existing Bug</a>
    <a href="dbmaintance">Database Maintance</a>
   </body>
   <%if(currentUser) {%>
   <p>User: <%= currentUser.username%></p>
   <p>UserLever: <%= currentUser.userlevel%></p>
   <% } %>
</html>
