<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="bugs/new">Enter New Bug</a>
    <a href="bugs/edit">Update Existing Bug</a>
    <a href="#">Database Maintance</a>
   </body>
</html>
