<% include ./partials/head %>

<div class="container">
  <div class="jumbotron shadow">
    <h1>Welcome to <%=title%></h1>      
    <% if(currentUser) { %>
      <p>User: <%= currentUser.username%></p>
      <p>Level: <%= currentUser.userlevel%></p>
    <% } %>
  </div>
  <div class="d-flex flex-column container content_body">
    <a class="p-2 m-1 btn btn-dark" href="/bugs/new" role="button"><i class="fas fa-bug"></i>  Enter New Bug</a>
    <% if(currentUser && currentUser.userlevel > 1) { %>
      <a class="p-2 m-1 btn btn-dark" href="/bugs/search" role="button"><i class="fas fa-edit"></i>  Update Existing Bug</a>
    <% } %>
    <% if(currentUser && currentUser.userlevel == 3 ) { %>
      <a class="p-2 m-1 btn btn-dark" href="/dbmaintenance" role="button"><i class="fas fa-database"></i>  Database Maintenance</a> 
    <% } %>
  </div>
</div>

<% include ./partials/footer %>