<%include ./partials/landinghead %>

  <div class="container">
    <div class="row">
      <div id="content">
        <div class="col-lg-12">
          <h1 class="display-1" id="title">BugHound</h1>
          <h3 id="tagline">Better project management for engineering teams</h3>
          <a id="loginbtn" class="btn btn-success btn-lg" href="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

<% include ./partials/footer%>