<% include ./partials/head%>

<div class="container">
  <div class="row">
    <div id="login_content">
      <div class="col-lg-12">
        <form class="form-group form-signin" action="/login" method="POST"> 
          <label for="username" class="sr-only">Username</label>
          <div>
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
          </div>
          <label for="password" class="sr-only">Password</label>
          <div>
            <input type="password" name="password" id="username" class="form-control" placeholder="Password" required>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
