<!DOCTYPE html>
<html>
  <head>
    <title>Bughound</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <% include ./partials/head %>
  </head>
<% include ./partials/messages %>
<body>
    <form class="form-group form-signin" action="/login" method="POST"> 
      <h1>Welcome Back</h1>
     <!--  -->
      <label for="username" class="sr-only">Username</label>
      <div>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
      </div>
      <label for="password" class="sr-only">Password</label>
      <div>
        <input type="password" name="password" id="username" class="form-control" placeholder="Password" required>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
  <% include ./partials/footer %>
</body>
</html>

