<!DOCTYPE html>
<html>
  <head>
    <title>Bughound</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bughound</h1>
    <p>Create a new bugs in our database</p>
  </body>
</html>
