<!DOCTYPE html>
<html>

<head>
    <% include ./head %>
</head>

<body>
    <div class="container">
        <form name="form_search" method="GET" action="/users/employee">
            <div class="form-group row">
                <label for="search" class="col-sm-2 col-form-label">Search Users</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="username" id="search">

                </div>
                <div class="col-sm-2">

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

</body>

</html>