<% include ../partials/head %>

    <div class="container content_body">
        <div class="jumbotron shadow">
            <h1>Bugs</h1>
            <p>Your search results.</p>
        </div>
       <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
                <th>Bug Id</th>
                <th>Program</th>
                <th>Summary</th>
            </tr>
            </thead>
            <tbody>
                <% bugs.forEach(function(bug) { %>
                    <tr>

                        <td><a href="/bugs/edit/<%= bug.bug_id %>"><%= bug.bug_id %></a></td>
                        <td><%= bug.program %></td>
                        <td><%= bug.problem_summary %></td>
                    </tr>
                <% }); %>        
            </tbody>
        </table>
        <a class="btn btn-danger" onclick="goBack()" role="button">Cancel</a>
    </div>

<% include ../partials/footer %>
