<% include ../partials/head %>

    <div class="container">
        <div class="jumbotron">
            <h1>Bugs</h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Bug Id</th>
                <th>Program</th>
                <th>Summary</th>
            </tr>
            </thead>
            <tbody>

            <% bugs.forEach(function(bug) { %>
                <tr>

                    <td><a href="/bugs/edit/<%= bug.bug_id %>"><%= bug.bug_id %></a></td>
                    <td><%= bug.program %></td>
                    <td><%= bug.problem_summary %></td>
                </tr>
            <% }); %>
            <tr>
                <td><a class="btn btn-danger" href="/home" role="button">Cancel</a></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>

<% include ../partials/footer %>
