<!DOCTYPE html>
<html>
  <head>
    <title>Bughound</title>
    <% include ../partials/head %>
 </head>
  <body>
    <div class="container">
      <h3>Programs</h3>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Program Name</th>
              <th>Release</th>
              <th>Version</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% programs.forEach(function(programs) { %>
              <tr>
                <td><%=programs.prog_id%></td>
                <td><%=programs.program%></td>
                <td><%=programs.program_release%></td>
                <td><%=programs.program_version%></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
        <div class="container">
        </div>
    </div>
  </body>
</html>